body {
  font-family: "Inter", sans-serif;
  background: url(../assets/photos/grid-pattern.png) var(--cream);
  color: var(--foreground-color);
  max-width: 700px;
  margin: auto;
  font-size: 16px;
  padding: 0 24px;
  padding-top: 24px;
  padding-bottom: 120px;
}

.navbar {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  padding: 12px;
}

.navbar-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}

.logo,
.setting {
  display: none !important;
}

.post-avatar-desktop {
  display: none;
}

.dialog {
  z-index: 10;
  margin-top: 10px;
  margin: auto;
  width: 90%;
  max-width: 700px;
  order: none;
}

.dialog::backdrop {
  background-color: #00000030;
  backdrop-filter: blur(4px);
}

.music-container {
  position: fixed;
  top: 24px;
  left: 100px;
}

@media (min-width: 768px) {
  body {
    padding-bottom: 24px;
  }

  .navbar {
    top: 16px;
    left: 16px;
    right: auto;
    bottom: 16px;
    padding: 8px;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-options {
    width: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .logo,
  .setting {
    display: flex !important;
  }

  .post-avatar-desktop {
    display: flex;
  }

  .post-avatar-mobile {
    display: none;
  }
}
